.innerGrid {
  z-index: 5;
  padding: 1rem;
}

.container {
  position: relative;
  overflow: hidden;
}

.checkedByOverlay {
  position: absolute;
  padding: 1.5rem;
  z-index: 10;
  top: 0;
  left: 0;
  height: calc(100% - 3rem);
  width: calc(100% - 3rem);
}

.background {
  opacity: 0.5;
}
